<!--<h2>Heroes</h2>
<ul class="list">
  <li *ngFor="let hero of heroes" 
      (click)="selectHero(hero)"
      [ngClass]="{ selected: hero === selectedHero }"
      [ngStyle]="{ fontWeight: hero === selectedHero ? '600' : '400' }"> -->
    
    <!-- Utilisation du pipe personnalisé -->
   <!--  <span class="badge">{{ hero.name | initials }}</span>
    {{ hero.name | uppercase }}
  </li>
</ul> -->
<h2>Utlisation de la partie db.json</h2>
<ul *ngFor="let hero of heroes$ | async">
  <li (click)="selectHero(hero)"
      [ngClass]="{ selected: hero === selectedHero }"
      [ngStyle]="{ fontWeight: hero === selectedHero ? '600' : '400' }">
    
    <!-- Utilisation du pipe personnalisé -->
    <span class="badge">{{ hero.name | initials }}</span>
    {{ hero.name | uppercase }}
  </li>
</ul>
<!-- Property binding + structural directive -->
<app-hero-detail *ngIf="selectedHero" [hero]="selectedHero"></app-hero-detail>